<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Planner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.3.1/ol.css">
    <link rel="stylesheet" href="/static/css/main-style.css">
    <link rel="stylesheet" href="/static/css/form-style.css">
    <link rel="stylesheet" href="/static/css/table-style.css">
    <link rel="stylesheet" href="/static/css/detailes-style.css">
    <link rel="stylesheet" href="/static/css/admin-panel-style.css">
    <link rel="stylesheet" href="/static/css/create-form-style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="#map" class="nav-link" id="link-map">Flights map</a>
            <a href="#flights" class="nav-link" id="link-flights">Flights</a>
            <a href="#airports" class="nav-link" id="link-airports">Airports</a>
        </div>

        <div class="nav-right">
            <a href="#admin/users" class="nav-link" id="link-admin-users">Admin Panel</a>
            <a href="#auth" class="nav-link" id="link-auth">Log in</a>
        </div>
    </nav>

    <main id="app-content"></main>

    <script src="https://cdn.jsdelivr.net/npm/ol@v10.3.1/dist/ol.js"></script>
    
    <script src="/static/js/map-page.js"></script>
    <script src="/static/js/flights-page.js"></script>
    <script src="/static/js/flight-details-page.js"></script>
    <script src="/static/js/crashed-flight-details-page.js"></script>
    <script src="/static/js/airports-page.js"></script>
    <script src="/static/js/airport-detail-page.js"></script>
    <script src="/static/js/auth-form.js"></script>
    <script src="/static/js/auth-state.js"></script>
    <script src="/static/js/login-page.js"></script>
    <script src="/static/js/register-page.js"></script>
    <script src="/static/js/admin-users-page.js"></script>
    <script src="/static/js/entity-form-utils.js"></script>
    <script src="/static/js/airplane-form-page.js"></script>
    <script src="/static/js/airport-form-page.js"></script>
    <script src="/static/js/employee-form-page.js"></script>
    <script src="/static/js/passenger-form-page.js"></script>
    <script src="/static/js/flight-form-page.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
